<!doctype html>
<html ng-app="roster" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roster Builder</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body ng-controller="MainCtrl">

    <div class="row">
      <div class="large-12 columns">
        <h1>Roster Builder</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 medium-12 columns">      
        <!-- <h5>Enter a player</h5> -->
        <form ng-submit="addPlayer()">
          <div class="row">
            <div class="large-2 medium-2 columns">
              <!-- <label>Number</label> -->
              <input type="number" placeholder="00" max="99" ng-model="num"/>
            </div>            
            <div class="large-3 medium-3 columns">
              <!-- <label>Last Name</label> -->
              <input type="text" placeholder="Otto" ng-model="last"/>
            </div>
            <div class="large-3 medium-3 columns">
              <!-- <label>First Name</label> -->
              <input type="text" placeholder="Jim" ng-model="first"/>
            </div>
            <div class="large-2 medium-2 columns">
              <!-- <label>Position</label> -->
              <input type="text" placeholder="OL" maxlength="2" ng-model="pos"/>
            </div>
            <div class="large-2 medium-2 columns">
              <input type="submit" value="Submit" class="button tiny"/>
            </div>
          </div>
        </form>
      </div>     
    </div>

    <div class="row">
      <div class="large-12 medium-12 columns">  
        <div>
          <table>
            <thead>
              <tr>
                <th width="147">Number</th>
                <th width="248">Last Name</th>
                <th width="248">First Name</th>
                <th width="165">Position</th>
                <th width="90">Remove</th>
              </tr>    
            </thead>
            <tbody>
              <tr ng-repeat="player in $storage.players">
                <td>{{player.num}}</td>
                <td>{{player.last}}</td>
                <td>{{player.first}}</td>
                <td>{{player.pos}}</td>
                <td><input type="submit" value="X" class="button tiny" ng-click="removePlayer(player)"/></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>     
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/ngstorage/ngStorage.js"></script>
    <script src="app.js"></script>
  </body>
</html>
